/* =========================================
   ICON DESCRIPTION COMPONENT
========================================= */

.icons-description {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(4rem, 1fr));
   grid-template-rows: 1fr;
   place-items: center;
   gap: var(--measure-sm);
   position: relative;
   width: min(100%, 25rem);
}

.icon {
   padding: var(--measure-md);
   border: solid 1px var(--border-color);
   border-radius: var(--measure-sm);

   transition:
      transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275),
      box-shadow 0.3s;

   background-color: var(--border-color);
   cursor: none;
   position: relative;
}

.icon i {
   color: var(--accent-emerald);
   font-size: clamp(var(--measure-lg), 5vw, var(--measure-xl));
}

.icon:hover {
   border-color: var(--accent-emerald);
   box-shadow: 0 var(--measure-md) var(--measure-lg) var(--black),
               0 0 var(--measure-sm) var(--accent-emerald);
}

.icon small {
   position: fixed;
   top: 0;
   left: 0;
   opacity: 0;
   z-index: 1;
   border: solid var(--accent-emerald) 1px;
   border-radius: var(--measure-md);
   padding: calc(var(--measure-sm) * 0.8) calc(var(--measure-sm) * 1.6);
   background: var(--bg-main);
   font-size: .8rem;
   white-space: nowrap;
   pointer-events: none;
   transform: translate(-50%, -70%);
   transition: opacity .2s ease, transform .2s ease;
   box-shadow:  0 0 var(--measure-sm) var(--accent-emerald);
}

.icon small.active {
   opacity: 1;
   transform: translate(-50%, -100%);
}

/* =========================================
   ICON LINK COMPONENT
========================================= */

.icon-link {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: var(--measure-md);
}

.icon-link li {
   border: solid 1px var(--accent-emerald);
   border-radius: .2rem;
   transform: skewY(-10deg);
   padding: var(--measure-sm) var(--measure-md);
   position: relative;
   overflow: hidden;
   transition: transform 0.3s ease, background-color 0.3s ease;
}

.icon-link li::before {
   content: "";
   border-radius: 100%;
   background-color: var(--accent-emerald);
   position: absolute;
   left: 50%;
   width: var(--measure-lg);
   height: var(--measure-lg);
   top: 90%;
   transform: translateX(-50%);
   filter: blur(var(--measure-md));
   transition: all 0.4s ease;
   opacity: 0.5;
}

.icon-link li:hover {
   transform: skewY(-15deg) translateY(-8px);
   box-shadow: 0 var(--measure-sm) var(--measure-lg) var(--black);
}

.icon-link li:hover::before {
   top: 40%;
   width: calc(var(--measure-xl) * 1.5);
   height: 3rem;
   opacity: 1;
   filter: blur(var(--measure-lg));
}

.icon-link li i {
   font-size: var(--measure-lg);
   color: var(--accent-emerald);
}

@media (min-width: 768px) {
   .icons-description {
      justify-content: start;
   }

}