.simple-carousel {
  width: 2.5rem;
  overflow: hidden;
  position: relative;
}

.container-carousel {
  display: flex;
  align-items: center;
  gap: var(--measure-sm);

  transition:
    transform .7s cubic-bezier(.77, 0, .18, 1);
}

/* =========================================
   ICONS
========================================= */

.simple-carousel img {
  width: var(--measure-xl);
  height: var(--measure-xl);
  background: linear-gradient(180deg,
      rgb(var(--theme-rgb) / .10),
      rgb(var(--theme-rgb) / .03));
  backdrop-filter: blur(var(--measure-md));
  object-fit: contain;
  clip-path: polygon(0% 0%, 85% 0, 100% 15%, 100% 100%, 15% 100%, 0 85%);
  opacity: 0;
  transform:
    scale(.7)
    rotate(-10deg);

  filter:
    blur(2px);

  transition:
    opacity .6s ease,
    transform .6s ease,
    filter .6s ease;
}

/* =========================================
   ACTIVE
========================================= */

.simple-carousel img.active {
  opacity: 1;
  transition: opacity 0.2s ease 1s;
  transform:
    scale(1)
    rotate(0deg);

  filter:
    blur(0);
}