.simple-carousel {
  width: 2.5rem;
  overflow: hidden;
  position: relative;
}

.container-carousel {
  display: flex;
  align-items: center;
  gap: var(--measure-sm);

  transition:
    transform .7s cubic-bezier(.77, 0, .18, 1);
}

/* =========================================
   ICONS
========================================= */

.simple-carousel img {
  width: var(--measure-xl);
  height: var(--measure-xl);
  object-fit: contain;
  opacity: 0;
  transform:
    scale(.7)
    rotate(-10deg);

  filter:
    blur(2px);

  transition:
    opacity .6s ease,
    transform .6s ease,
    filter .6s ease;
}

/* =========================================
   ACTIVE
========================================= */

.simple-carousel img.active {
  opacity: 1;
  transition: opacity 0.2s ease 1s;
  transform:
    scale(1)
    rotate(0deg);

  filter:
    blur(0);
}