:root {
  --card-bg-main: #314158;
  --card-text-primary: #f9f9f9;

  --card-space-sm: .5rem;
  --card-space-md: 1rem;
  --card-space-lg: 1.5rem;
}

.card {
  width: min(100%, 17.5rem);
  height: 30rem;
  background: var(--card-bg-main);
  border-radius: var(--card-space-sm);
  color: var(--card-text-primary);
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
  display: grid;
  grid-template-rows: 12rem auto;
}

/* =========================================
   HEADER
========================================= */

.content-header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  padding-right: var(--card-space-sm);
}

.content-header img {
  width: 2rem;
  height: 2rem;
  object-fit: contain;
  overflow: hidden;
  flex-shrink: 0;
}

/* =========================================
   TITLE
========================================= */

.card h3 {
  max-width: 95%;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1rem;
  color: var(--text-primary);
  background: var(--accent-emerald);
  padding: .5rem 2.5rem .5rem .5rem;
  clip-path: polygon(0 0, 100% 0, 85% 100%, 0 100%);
  z-index: 1;
}

.card h3::before,
.card h3::after {
  content: "";
  position: absolute;
  inset: 0;
}

.card h3::before {
  background-color: var(--bg-main);
  clip-path: polygon(97% 0, 100% 0, 100% 100%, 0 100%, 0 90%, 84% 90%);
}

.card h3::after {
  background: var(--bg-black-transparent);
  z-index: -1;
  clip-path: polygon(0 0, 0% 100%, 100% 100%);
}

/* =========================================
   IMAGE
========================================= */

.img-project, .img-project img { width: 100%; }

.img-project { overflow: hidden; flex-shrink: 0; }

.img-project img { height: 12rem; object-fit: cover; }


/* =========================================
   CONTENT
========================================= */


.card-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--card-space-sm);
  padding: var(--card-space-sm);
}

/* =========================================
   TEXT
========================================= */

.card-content p {
  white-space: normal;
  font-size: .90rem;
}

/* =========================================
   LINKS
========================================= */

.links {
  display: grid;
  grid-template-columns: repeat(2, minmax(6rem, 1fr)) max-content;
  align-items: center;
  gap: var(--card-space-sm);
  font-size: .90rem;
  overflow: auto;
  padding: var(--card-space-sm) 4px;
}

.links a {
  border-radius: .2rem;
  padding: .6rem;
  position: relative;
  display: flex;
  place-items: center;
  gap: var(--card-space-sm);
  transition: transform .4s cubic-bezier(0.25, 1, 0.5, 1), 
              color .5s ease, 
              border-color .5s ease, 
              box-shadow .5s ease;
  transition: .5s ease;
  white-space: nowrap; 
  flex-shrink: 0;
}

.links a small{
  overflow: hidden;
  white-space: nowrap;
}

.repository-link {
  border: solid 2px #0e131a;
  box-shadow: 0 0 var(--card-space-sm) #0e131a, inset 0 0 var(--card-space-lg) #0e131a;

}

.links .figma-link {
  border: solid 2px;;
  animation: border-animation 15s infinite linear; 
}

.figma-link small {
  color: inherit;
}

.website-link {
  border: solid 2px #0da4a6;
  box-shadow: 0 0 var(--card-space-sm) #0da4a6, inset 0 0 var(--card-space-sm) #0da4a6;
}
.website-link  small {
  display: none;
}

.links a:hover {
  transform: translateY(-2px);
}

.links a img {
  width: 1rem;
  flex-shrink: 0;
}

/* =========================================
   ANIMATIONS
========================================= */

@keyframes border-animation {

  0%,
  100% {
    color: #7c4dff;
    border-color: #7c4dff;
    box-shadow: 0 0 var(--card-space-sm) rgb(124, 77, 255);
  }

  25% {
    color: #66bb6a;
    border-color: #66bb6a;
    box-shadow: 0 0 var(--card-space-sm) #66bb6a;
  }

  50% {
    color: #3de8df;
    border-color: #3de8df;
    box-shadow: 0 0 var(--card-space-sm) #3de8df;
  }

  75% {
    color: #e64a19;
    border-color: #e64a19;
    box-shadow: 0 0 var(--card-space-sm) #e64a19;
  }
}