:root {
   --more-info-text-primary: #f9f9f9;
   --border-color: #314158;

   --measure-sm: .5rem;
   --measure-md: 1rem;
   --measure-lg: 1.5rem;
   --measure-xl: 2rem;
}

.sum-about-me {
   margin: var(--measure-md) auto;
   display: flex;
   place-items: center;
   flex-direction: column;
   gap: var(--measure-md);
   color: var(--more-info-text-primary);
}

.sum-about-me i { font-size: 2rem; }

/* =========================================
   WORK EXPERIENCE
========================================= */

.all-xp-work {
   width: 100%;
   overflow-x: hidden;
   padding: var(--measure-lg);
   grid-area: xp;
   margin-bottom: var(--measure-lg);
}

.all-xp-work h2 {
   display: flex;
   place-content: center;
}

.xp-container {
   display: flex;
   flex-direction: column;
   gap: var(--measure-md);
}

.sum-about-me i { font-size: 2rem; }

/* =========================================
   TECHNOLOGY AND TOOLS
========================================= */

.all-techs {
   padding: var(--measure-sm);
   width: 100%;
   display: grid;
   grid-template-columns: 1fr;
   gap: var(--measure-md);
   grid-area: tech;
}

.all-projects {
   padding: var(--measure-sm);
   width: 100%;
   display: flex;
   place-items: center;
   flex-direction: column;
   gap: var(--measure-md);
   grid-area: projects;
}

.all-projects-wrapper{
   width: 100%;
   display: flex;
   place-items: center;
   flex-direction: column;
   gap: var(--measure-md);
}

.all-projects-wrapper > * {
   flex: 0 0 auto;
}

/* =========================================
   SOCIAL MIDIA
========================================= */


.social-midia {
   width: 100%;
   padding: var(--measure-md) 0;
   border: solid 1px var(--border-color);
   border-radius: var(--measure-sm);
   height: 5rem;
   grid-area: social;
}

/* =========================================
   MEDIA VW
========================================= */

@media (min-width: 768px) {

   .sum-about-me {

      display: grid;

      grid-template-columns: 1fr 1fr;

      gap: var(--measure-md);

      align-content: center;

      grid-template-areas:
         "xp xp"
         "tech tech"
         "projects projects"
         "social social";
   }

   .xp-container,
   .all-projects-wrapper{
      flex-direction: row;
      overflow-x: auto;
      white-space: nowrap;
   }

   .all-techs {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
      gap: var(--measure-md);
   }
}

@media (min-width: 1024px) {

   .sum-about-me {
      display: grid;
      grid-template-columns: minmax(24rem, 30rem) 1fr;
      grid-template-rows: auto;
      justify-content: space-between;
      gap: var(--measure-md);
      align-items: start;
      grid-template-areas:
         "xp xp"
         "tech tech"
         "projects projects"
         "social social ";
   }

   .all-projects {
      place-items: center;
   }

}

@media (min-width: 1440px) {

   .sum-about-me {
      grid-template-areas:
         "xp tech "
         "projects projects"
         "social social ";
   }

}